@using Microsoft.AspNetCore.Identity
@model IEnumerable<AnswerQuestionWebApp.Models.Post.Post>
@{
    ViewData["Title"] = "Index";
    
}





@section Style
    {
    <link href="~/css/poststyle.css" rel="stylesheet" asp-append-version="true" />
}
<div class="wrapper">
    <span class="square">

        <a class="createpost" asp-area="" asp-action="Createpost" asp-controller="Post">Ask A Question</a>
    </span>
</div>



<!-- ==============================================
Hero
=============================================== -->

<section class="hero">
    <div class="container">
        <div class="row">


            <div class="col-lg-6 offset-lg-3">
                @foreach (var post in Model)
                {
                    var photopath = "~/userphoto/" + post.ApplicationUsers.Photo;
                    <div class="cardbox shadow-lg bg-white">

                        <div class="cardbox-heading">
                            <!-- START dropdown-->
                            <div class="dropdown float-right">
                                <button class="btn btn-flat btn-flat-icon" type="button" data-toggle="dropdown" aria-expanded="false">
                                    <em class="fa fa-ellipsis-h"></em>
                                </button>
                                <div class="dropdown-menu dropdown-scale dropdown-menu-right" role="menu" style="position: absolute; transform: translate3d(-136px, 28px, 0px); top: 0px; left: 0px; will-change: transform;">
                                    @*<a class="dropdown-item" href="#">Hide post</a>
                                        <a class="dropdown-item" href="#">Stop following</a>*@
                                    <a class="dropdown-item" href="#">Report</a>
                                </div>
                            </div><!--/ dropdown -->
                            <div class="media m-0">
                                <div class="d-flex mr-3">

                                    <a href=""><img class="img-fluid rounded-circle" src="@photopath" alt="UserPhoto" asp-append-version="true" ></a>
                                </div>
                                <div class="media-body">
                                    <p class="m-0">@post.ApplicationUsers.Name</p>
                                    <small><span><i class="icon ion-md-pin"></i>@post.Tag.Name</span></small>
                                    <small><span><i class="icon ion-md-pin"></i>@post.Subtag.Name</span></small>
                                    <small><span><i class="icon ion-md-time"></i>@post.PostDt</span></small>
                                </div>
                            </div><!--/ media -->
                        </div><!--/ cardbox-heading -->

                        <div class="cardbox-item">
                            <div class="post-title">
                                <h6>@post.Title</h6><br/>
                            </div>

                            <p class="Decription">@post.Description</p>
                        </div><!--/ cardbox-item -->
                        <div class="cardbox-base">
                            <ul class="float-right">
                                <li><a><i class="fa fa-comments"></i></a></li>
                                <li><a><em class="mr-5">12</em></a></li>
                                <li><a><i class="fa fa-share-alt"></i></a></li>
                                <li><a><em class="mr-3">03</em></a></li>
                            </ul>
                            <ul id="LikeList">
                                <li><a><i class="fa fa-thumbs-up"></i></a></li>
                                <li><a href="#"><img src="http://www.themashabrand.com/templates/bootsnipp/post/assets/img/users/3.jpeg" class="img-fluid rounded-circle" alt="User"></a></li>
                                <li><a href="#"><img src="http://www.themashabrand.com/templates/bootsnipp/post/assets/img/users/1.jpg" class="img-fluid rounded-circle" alt="User"></a></li>
                                <li><a href="#"><img src="http://www.themashabrand.com/templates/bootsnipp/post/assets/img/users/5.jpg" class="img-fluid rounded-circle" alt="User"></a></li>
                                <li><a href="#"><img src="http://www.themashabrand.com/templates/bootsnipp/post/assets/img/users/2.jpg" class="img-fluid rounded-circle" alt="User"></a></li>
                                <li id="totollike"> @await Component.InvokeAsync("Like", new { id = post.Id })</li>
                                
                                </ul>

                           
                        </div><!--/ cardbox-base -->



                        <div class="buttonclass">
                            <input type="hidden" value="@post.Id" id="postid" />
                           
                            <a href="javascript:void(0)"  class="likeid"><i class="fas fa-thumbs-up icm"></i>Like</a>
                            <a asp-action="SinglePost" asp-route-id="@post.Id" asp-controller="Post" class="commentbtn"><i class="fas fa-comments icm"></i>Answer</a>
                            <a href="#" class="Sharebtn"><i class="fas fa-share-alt icm"></i>Share</a>

                        </div>


                    </div><!--/ cardbox -->
                }
            </div><!--/ col-lg-6 -->

        </div><!--/ row -->
    </div><!--/ container -->
</section>

@section Scripts
    {
   <script type="text/javascript" asp-append-version="true">

    $(document).ready(function() {

        $('.likeid').click(function() {
            var id = $(this).closest("div.buttonclass").find("input[id='postid']").val();
            var tlike = $(this).closest("div.buttonclass").prev("div.cardbox-base").children("ul#LikeList")
                .children("li#totollike");
            $.ajax({
                type: "POST",
                url: '/post/like/' + id + '',
                contentType: "application/json; charset=utf-8",

                dataType: "json",
                success: function(data) {
                    if (data > 0) {
                        tlike.html('<a><span>' + data + ' Likes</span></a>');
                    } 
                   
                    

                    
                }

            });
            
           

           
        });
        
            
                    
    });

          


        </script>
}



